<%- include('partial/head'); -%>

  <!-- ***** Header Area Start ***** -->
  <%- include('partial/header'); -%>
  <!-- ***** Header Area End ***** -->
<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  

  <%- include('partial/footer'); -%>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <%- include('partial/mainbt'); -%>

  </body>
</html>