<%- include('partial/head'); -%>

  <!-- ***** Header Area Start ***** -->
  <%- include('partial/header'); -%>
  <!-- ***** Header Area End ***** -->
  
  <div class="main-banner">
    <div class="owl-carousel owl-banner">
      <div class="item item-1">
        <div class="header-text">
          <span class="category">MTU, <em>CORK</em></span>
          <h2>NazaWaza's <br>workshop for all home things!</h2>
        </div>
      </div>
      <div class="item item-2">
        <div class="header-text">
          <span class="category">Owner: <em>Chinaza ogwudiegwu</em></span>
          <h2><div id="imageid" class="small-image">
            <img src="/public/images/naza2.jpg" alt="Small Image" width="50">
        </div><br>Your program mentor</h2>
        </div>
      </div>
      <div class="item item-3">
        <div class="header-text">
          <span class="category">Book Now!!!</span>
          <h2>Act Now!<br>Places going fast.</h2>
        </div>
      </div>
    </div>
  </div>
        </div>
        

  <%- include('partial/footer'); -%>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <%- include('partial/mainbt'); -%>
  </body>
</html>