
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        <h1>DIYNAZA </h1>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      <li><a href="/bookings">Booking</a></li>
                      <li><a href="/create-booking">Create</a></li>
                      <li><a href="/about">About</a></li>
                      <li><a href="/help" class="active">Help Us</a></li>
                      <li><a href="/timetable"><i class="fa fa-calendar"></i>Booking Timetable</a></li>
                  </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  